@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: '8bitOperator';
  src: url('/fonts/8bitOperatorPlusSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.font-pixel {
  font-family: '8bitOperator', monospace;
}

.text-borda-cinza {
  /* Cria a borda cinza ao redor do texto */
  -webkit-text-stroke: 4px #555555;
  color: white;
  /* Um leve sombreamento para destacar mais do fundo */
  text-shadow: 4px 4px 0px #000000;
}
